.buttonText {
    font-size: 100%;
}

.listButton {
    border: none;
    padding : 5px;
    font-size: 0.75rem;
    height:100%;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.moduleButton {
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    color: grey;
    margin:5%;
}


button i {
    margin-right: 5px;
}